.FAQ {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #303030;
  border-bottom: 5px solid #303030;
  height: 800px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.FAQ > h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 2.3rem;
  line-height: 1.1;
}
.FAQ-items {
  height: 65px;
  width: 45%;
  background-color: #303030;
  text-align: left;
  margin: 4px auto;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 25px;
  font-size: 1.3rem;
  color: white;
  border: black;
}

.expanded-ans {
  height: auto;
  width: 45%;
  background-color: #303030;
  text-align: center;
  margin: -3px auto 5px auto;
  font-size: 1.3rem;
  text-align: left;
}

.expanded-ans > p {
  margin: 20px;
}

.closed-ans {
  display: none;
}

.expand-sign {
  float: right;
  margin-right: 20px;
  font-size: 2rem;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  fill: #fff;
}
.close-sign {
  float: right;
  margin-right: 20px;
  font-size: 2rem;
  height: 20px;
  width: 20px;
  fill: #fff;
}
.FAQ > h3 {
  margin-top: 50px;
}
