body {
  background: rgb(26, 21, 21);
}
.playlist-container {
  display: flex;
  flex-direction: column;
}

.playList {
  margin-top: 5%;
  background: rgb(26, 21, 21);
  color: white;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
}
.movieList > div {
  margin-bottom: 2rem;
  width: 200px;
}

.movieList > div > div > h3,
.movieList > div > button {
  margin-top: 0.5rem;
  text-align: center;
}

.title {
  width: 90%;
  height: 3rem;
}
.movieList > div > button {
  width: 90%;
  height: 2rem;
  background: transparent;
  color: gray;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.movieList > div > button:hover {
  color: red;
}

.playList > h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.playlist-empty {
  margin: 15% 40%;
  font-size: 1rem;
}
